html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* //////////////////////
// FONTS
////////////////////// */
/* //////////////////////
// COLORS
////////////////////// */
/* //////////////////////
// GENERAL DOC STYLING
////////////////////// */
html {
  box-sizing: border-box; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 0; }

body {
  color: #dbdbdb;
  font-weight: 400;
  font-size: 1em;
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
  margin-top: 100px;
  background-color: #fff; }

/* //////////////////////
// VEGAS PHOTO WELCOME 
////////////////////// */
#section-zero::after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  content: ''; }

.vegas-container {
  bottom: 2em;
  right: 2em; }

.vegas-overlay {
  opacity: .6; }

.vegas-timer-progress {
  background: #fff; }

@keyframes pulse {
  0% {
    transform: scale(0.8); }
  50% {
    transform: scale(1); }
  100% {
    transform: scale(0.8); } }
/* //////////////////////
// HEADER
////////////////////// */
.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  background-color: #465664;
  z-index: 10000000000;
  border-bottom: 5px solid #fff; }

.header-left,
.header-right {
  display: inline-block;
  width: 35%;
  vertical-align: middle;
  margin-left: 50px; }

.header-left {
  width: 55%;
  color: #0088FF; }
  .header-left span {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5; }

.header-nav-list {
  list-style: none; }

.header-nav-items {
  padding-top: 20px;
  display: inline-block;
  padding-left: 40px;
  cursor: pointer; }
  .header-nav-items a {
    text-decoration: none;
    color: #fff; }

/* ////////////////////////////////////////
// MAIN-CONTENT NON-SECTION-SPECIFIC
//////////////////////////////////////// */
.main-container {
  min-height: 1000px; }

.section {
  height: 450px; }

#section-one {
  background: url("../img/slopes.jpg") center center no-repeat;
  background-size: cover;
  height: 800px;
  background-color: #465664; }
  #section-one .section-one-content {
    padding-top: 15%; }

#section-two {
  background-color: #465664; }

#section-three {
  background-color: #465664;
  height: 900px; }

#section-four {
  background-color: #465664; }

h1,
p {
  margin: 0 auto;
  text-align: center;
  color: #000;
  font-weight: 800; }

#section-five {
  background: url("../img/golf.jpg") center center no-repeat;
  background-size: cover;
  background-color: #465664;
  height: 550px;
  border-top: 5px solid #000; }

#section-five::after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  content: ''; }

/* //////////////////////
// CONTACT-SECTION
////////////////////// */
.contact-list {
  list-style: none;
  margin: 0 auto;
  text-align: center; }

.contact-item {
  display: inline-block;
  padding-top: 20px;
  cursor: pointer;
  width: 45px;
  height: 45px; }

.social-icon {
  display: inline-block;
  width: 45px;
  height: 45px;
  text-shadow: 1px 1px 10px #333;
  position: relative;
  z-index: 10; }

h1 {
  margin: 0 auto;
  padding-top: 25px;
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 36px;
  text-shadow: 1px 1px 10px #333;
  position: relative;
  z-index: 10; }

p {
  margin: 0 auto;
  text-align: center;
  color: #fff;
  font-weight: 800;
  font-size: 24px;
  position: relative;
  z-index: 10; }

.main-contact-container {
  background-color: #465664;
  min-height: 1000px; }

.main-about-container {
  background-color: #465664; }

#section-two {
  background-color: #465664;
  min-height: 1000px;
  background: url("../img/wiring.jpg") center center no-repeat;
  background-size: contain; }

.s1p1 {
  padding-top: 40px;
  line-height: 2; }

.s2p1,
.s2p2,
.s2p3,
.s2p4 {
  text-align: left;
  font-weight: 600;
  font-size: 18px;
  padding-top: 8px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  z-index: 10;
  color: #fff; }

.about-header {
  text-align: left;
  padding-top: 100px;
  padding-left: 30px;
  color: #000;
  font-size: 48px; }

.paras {
  margin: 0 auto;
  max-width: 1016px;
  background-color: #465664;
  border: 8px solid #000;
  border-radius: 2%;
  margin-top: 100px;
  padding: 12px; }

.two-way-image-wrapper {
  margin: 0 auto;
  width: 820px;
  padding-top: 45px; }

.contact-image-left {
  display: inline-block; }
  .contact-image-left img {
    border: 2px solid #000;
    width: 400px;
    height: 400px; }

.contact-image-right {
  display: inline-block; }
  .contact-image-right img {
    border: 2px solid #000;
    width: 400px;
    height: 400px; }

.pieces {
  padding-top: 60px;
  margin: 0 auto;
  margin-top: 65px;
  width: 100%; }

.piece {
  display: inline-block;
  text-decoration: none; }
  .piece img {
    width: 320px;
    height: 320px; }

.work-port {
  list-style: none;
  padding-top: 75px;
  margin-top: 50px; }
  .work-port h2 {
    text-decoration: none;
    color: #fff; }

.work {
  cursor: pointer; }

/*# sourceMappingURL=main.css.map */
