@import 'bourbon/bourbon';
$visual-grid: false;
$gutter: em(24px);
@import 'neat/neat';

/* //////////////////////
// FONTS
////////////////////// */

$body-font: 'Helvetica', sans-serif;
$heading-font: 'Lucida Grande', serif;
$primary-header-font: 'Orbitron', sans-serif;
$secondary-header-font: 'Francois One', sans-serif;
$primary-body-font: 'Open Sans', sans-serif;
$secondary-body-font: 'Lora', serif;
$primary-accent-font: 'Pinyon Script', cursive;
$secondary-accent-font: 'Nothing You Could Do', cursive;
$another-font: 'Sigmar One', cursive;
$yet-another-font: 'Oswald', sans-serif;


/* //////////////////////
// COLORS
////////////////////// */

$color1: #070707;
$color2: #202020;
$color3: #1d4057;
$color4: #295c7e;
$color5: #3579a5;

// Scheme 2 black-blue fading
$color1: #060d11;
$color2: #132937;
$color3: #1f465d;
$color4: #2b6284;
$color5: #377fac;


$down-river: rgb(8, 38, 88); // #082658
$governor-bay: rgb(47, 60, 185); // #2F3CB9
$cornflower-blue: rgb(108, 151, 249); // #6C97F9
$supernova: rgb(253, 180, 44); // #FDB42C
$paris-daisy: rgb(255, 232, 79); // #FFE84F
$milan: rgb(255, 241, 149); // #FFF195
$cornell-red: rgb(188, 31, 27); // #BC1F1B
$lust: rgb(250, 46, 34); // #FA2E22
$pastel-red: rgb(255, 105, 101); // #FF6965
$north-texas-green: rgb(0, 141, 33); // #008D21
$dark-pastel-green: rgb(6, 189, 47); // #06BD2F
$mantis: rgb(105, 214, 101); // #69D665
$royal-blue: rgb(76, 88, 223); // #4C58DF
$dark-blue: $down-river;
$medium-blue: $governor-bay;
$light-blue: $cornflower-blue;
$dark-yellow: $supernova;
$medium-yellow: $paris-daisy;
$light-yellow: $milan;
$dark-red: $cornell-red;
$medium-red: $lust;
$light-red: $pastel-red;
$dark-green: $north-texas-green;
$medium-green: $dark-pastel-green;
$light-green: $mantis;
// colors from surf and paddle (some nice blues and grays)
$prussian-blue: rgba(0, 51, 83, 1); // #003353
$french-blue: rgba(0, 105, 182, 1); // #0069B6
$shuttle-gray: rgba(92, 104, 112, 1); // #5C6870
$gull-gray: rgba(160, 179, 192, 1); // #A0B3C0
$primary-color: $prussian-blue;
$primary-accent-color: $french-blue;
$secondary-color: $shuttle-gray;
$secondary-accent-color: $gull-gray;

/* /////////////////////////////////////
// MEDIA QUERIES / BREAKPOINTS
///////////////////////////////////// */

// @function new-breakpoint($query, $total-columns: $grid-columns) { 
// }

// (Example below, need to adjust accordingly)
$mobile: new-breakpoint(max-width 480px 4);
$tablet: new-breakpoint(min-width 480px 4) and (max-width 800px 6);

// .element {
//   @include media($tablet) {
//     @include span-columns(6);
//   }
// }

// @media screen (min-width: 480px) and (max-width: 800px) {
//   .element {
//     display: block;
//     float: left;
//     margin-right: 7.42297%;
//     width: 100%;
//   }
//   .element:last-child {
//     margin-right: 0;
//   }
// }

//   @include media($mobile) {
//     @include span-columns(4);
//   }
// }

// @media screen and (max-width: 480px) {
//   .element {
//     display: block;
//     float: left;
//     margin-right: 7.42297%;
//     width: 100%;
//   }
//   .element:last-child {
//     margin-right: 0;
//   }
// }

/* //////////////////////
// MIXINS
////////////////////// */

@mixin transluscent-background($color, $duration: 300ms) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparentize($color, .5);
    transition: background-color $duration;
  }

  &:hover::after {
    background-color: transparent;
  }
}

/* //  <---  MIXIN FOR PORTFOLIO-WORK-DESCRIPTIONS  --->  // */
@mixin fill-parent() {
  display: block;
  margin: 0 auto;
  text-decoration: none;
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
  text-align: center;
  vertical-align: text-top;
  color: #000;
  font-family: $secondary-body-font;
}

// --> Example from SNP of hover effects and transparent overlay on 'posts photos'

// .one:hover .pic-titles {
//   color: #FFF;
//   text-shadow: 1px 1px 10px #555;
// }

// .one::after {
//   content: "";
//   display: inline-block;
//   position: absolute;
//   top:0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   background: rgba(38, 115, 172, 0.5);
//   transition: 500ms;
// }

// .one:hover::after {
//   content: "";
//   display: inline-block;
//   position: absolute;
//   top:0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   background: transparent;
// }

/* //////////////////////
// GENERAL DOC STYLING
////////////////////// */

// $header-height: 522px;
// $content-height: 1006px;
// $posts-header-height: 146px;
// $posts-height: 332px;
// $footer-height: 96px;

// $content-width: 978px;
// $article-width: 617px;

$border-box-sizing: true !default;

html {
    box-sizing: border-box; 
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
    margin: 0;
}

body {
  margin: 0;
  margin-top: 100px;
  padding: 0;
  background-color: #465664;
  color: #dbdbdb;
  font-weight: 400;
  font-size: 1em;
  font-family: "Josefin Sans", "Helvetica Neue", Helvetica, sans-serif;
}


/* /////////////////////////////////
// VEGAS PHOTO WELCOME GALLERY 
///////////////////////////////// */


#section-zero::after {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .3);
  content: '';
}

.vegas-container {
  bottom: 2em;
  right: 2em;
}

.vegas-overlay {
  opacity: .6;
}

.vegas-timer-progress {
  background: #fff;
}

@keyframes pulse {
  0% {
    transform: scale(.8);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(.8);
  }
}

/* //////////////////////
// HEADER
////////////////////// */

.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 90px;
    background-color: #465664;
    z-index: 10000000000;
    border-bottom: 5px solid #fff;
}

.header-left,.header-right {
    display: inline-block;
    width: 35%;
    vertical-align: middle;
    margin-left: 50px;
}

.header-left {
    width: 55%;
    color: #0088FF;

    span {
      font-size: 14px;
      font-weight: 600;
      line-height: 1.5;
    }
}

.header-nav-list {
    list-style: none;
}

.header-nav-items {
            padding-top: 20px;

    display: inline-block;
    padding-left: 40px;
    cursor: pointer;

    a {
        text-decoration: none;
        color: #fff;
    }
}

/* ////////////////////////////////////////
// MAIN-CONTENT (HOME PAGE)
//////////////////////////////////////// */

.main-container {
    min-height: 1000px;
}

.section {
    height: 450px;
}

#section-one {
    background: url('../img/slopes.jpg') center center no-repeat;
    background-size: cover;
    height: 800px;
    background-color: #465664;

    .section-one-content {
        padding-top: 15%;
    }
}

#section-two {
    background-color: #465664;
}

#section-three {
    background-color: #465664;
    height: 900px;
}

#section-four {
    background-color: #465664;
    height: 400px;
}

h1, p {
    margin: 0 auto;
    text-align: center;
    color: #000;
    font-weight: 800;
}

// #section-five {
//     background: url('../img/golf.jpg') center center no-repeat;
//     background-size: cover;
//     background-color: #465664;
//     height: 550px;
//     border-top: 5px solid #000;
// }

// #section-five::after {
//   display: block;
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
//   background-color: rgba(0, 0, 0, .9);
//   content: '';
// }


/* //////////////////////
// CONTACT-SECTION
////////////////////// */

.contact-list {
    list-style: none;
    margin: 0 auto;
    text-align: center;
}

.contact-item {
    display: inline-block;
    padding-top: 20px;
    cursor: pointer;
    width: 45px;
    height: 45px;
}

.social-icon {
    display: inline-block;
    width: 45px;
    height: 45px;
    text-shadow: 1px 1px 10px #333;
    position: relative;
    z-index: 10;
}

.social-icon:hover {
  transition: transform 0.9s ease-out;
  transform: rotate(360deg);
}

h1 {
    margin: 0 auto;
    padding-top: 25px;
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 36px;
    text-shadow: 1px 1px 10px #333;
    position: relative;
    z-index: 10;
}

p {
    margin: 0 auto;
    text-align: center;
    color: #fff;
    font-weight: 800;
    font-size: 24px;
    position: relative;
    z-index: 10;
}

.main-contact-container {
  background-color: #465664;
  height: 400px;
}


/* //////////////////////
// ABOUT PAGE
////////////////////// */


.main-about-container {
  background-color: #465664;
}

#section-two {
  background-color: #465664;
  min-height: 1000px;
  background: url('../img/wiring.jpg') center center no-repeat;
  background-size: contain;
}

.s1p1 {
  padding-top: 40px;
  line-height: 2;
}

.s2p1,
.s2p2,
.s2p3,
.s2p4 {
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  padding-top: 8px;
  margin: 0 auto;
  position: relative;
  z-index: 10;
  color: #465664;
  line-height: 1.5;
}

.about-header {
  text-align: left;
  padding-top: 100px;
  padding-left: 30px;
  color: #000;
  font-size: 48px;
}

.paras {
  margin: 0 auto;
  margin-top: 20px;
  max-width: 300px;
  background-color: #F6F6F6;
  border: 8px solid #000;
  border-radius: 2%;
  margin-top: 100px;
  padding: 8px;
  text-align: center;
}

/* //////////////////////
// CONTACT PAGE
////////////////////// */

.two-way-image-wrapper {
   margin: 0 auto;
   width: 820px;
   padding-top: 45px;
}

.contact-image-left {
   display: inline-block;
  
  img {
    border: 2px solid #000;
    width: 400px;
    height: 400px;
  }
}

.contact-image-right {
   display: inline-block;

   img {
     border: 2px solid #000;
     width: 400px;
     height: 400px;
   } 
}

/* /////////////////////////
// PORTFOLIO OF WORK
///////////////////////// */

.pieces {
  padding-top: 60px;
  margin: 0 auto;
  margin-top: 65px;
  width: 100%;

}

.piece {
  display: inline-block;
  text-decoration: none;

  img {
    width: 320px;
    height: 320px;
  }

}

.work-port {
  list-style: none;
  padding-top: 75px;
  margin-top: 50px;

  h2 {
    text-decoration: none;
    color: #fff;
  }
}

.work {
  cursor: pointer;
}

/* /////////////////////////
// DIGITAL PLAYGROUND
///////////////////////// */

.honk-title {
  vertical-align: middle;
}

.honk-desc {
  font-size: 12px;
}

.ember-todo-title {
  vertical-align: top;
}

.ember-todo-desc {
  font-size: 12px;
}

*, p, span, a, li, div {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lucida Grande', serif;
}
